img.sosmed{
    float: left;
    width: 19px;
    margin: 10px;
    margin-top: 2px;
    margin-left: 10px;
    opacity: 0.5;
    position: relative;
}

.headline{
    font-family: "Crimson Text";
    color:white;
    font-size: 10px;
    color: #b5996f;
}

.mainpage{
    font-family: "Crimson Text";
    position: absolute;
    height: 100vh;
    width: 100%;
    margin-right: 0px;
    top: 0%;
    left: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    animation: animate 20s ease-in-out infinite;
}

.containers{
    color:white;
    text-align: center;
    padding: 2px 10px;
    margin: 20px;
    float: right;
    overflow: hidden;
    background-color: transparent;
}

.navigation{
    color: #ffffff;
    font-size: 20.7571;
    float: right;
    overflow: hidden;
    background-color: transparent;
}

.navigation a{
    float: left;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.navigation a:hover{
    color: #b5996f;
}

.sosmed2{
    float: left;
    width: 20px;
    margin: 10px;
}

div.footer{
    font-family: "Crimson Text";
    font-size: 16px;
    color: #b5996f;  
}

div.footer2{
    font-family: "Crimson Text";
    font-size: 16px;
    color: #21212185;
}